.form-container-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.cohort-form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.cohort-form-label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
}

.cohort-form-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.cohort-form-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #2e345c;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.success {
  text-align: center;
  color: green;
  font-weight: 600;
}

.cohort-close-form {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
}

.cohort-close-form button {
  background-color: white;
  border: none;
  width: 20px;
  color: #2e345c;
}
