.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: white;
  font-family: "Segoe UI", sans-serif;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  color: #2e345c;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #5f6476;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.nav-links a.active,
.nav-links a:hover {
  color: #2e345c;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.casebuddy-btn {
  background-color: #2e345c;
  color: white;
  border: 2px solid #2e345c;

  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.casebuddy-btn:hover {
  background-color: white;
  color: #2e345c;
}

.login-btn {
  display: flex;
  border-radius: 6px;
  padding: 10px 16px;
  border: 2px solid #2e345c;
  background-color: #fff;
  color: #2e345c;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #2e345c;
  color: #fff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: #fff;
  list-style: none;
  padding: 8px 0;
  min-width: 180px;
  z-index: 999;
}

.dropdown-menu li {
  padding: 8px 16px;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .arrow {
  margin-left: 6px;
  font-size: 16px;
  transition: transform 0.2s ease;
  display: inline-block;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.nav-links .underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #1d1e1e;
  transition: width 0.3s ease;
}

.nav-links a:hover .underline {
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
  }
  .login {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .login-btn {
    width: 100%;
    align-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
  }
  .login {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .login-btn {
    width: 100%;
    align-content: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .navbar {
    justify-content: space-around;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 20px;
  }

  .login {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .login-btn {
    width: 100%;
    align-content: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .navbar {
    justify-content: space-around;
    padding: 20px 20px;
  }

  .logo {
    font-size: 23px;
  }
}

@media (max-width: 639px) {
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 5px;
    width: 110px;
  }

  .login {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login-btn {
    width: 100%;
    align-content: center;
    grid-column: 1;
    grid-row: 2;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .logo {
    font-size: 26px !important;
    grid-column: 1;
    grid-row: 1;
  }
}
