<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Consulting Cohort 101</title>
  </head>
  <body style="font-family: sans-serif; line-height: 1.5; padding: 20px">
    <h2>Welcome to Consulting Cohort 101!</h2>
    <p>Hi {{name}},</p>
    <p>
      Thank you for your interest. You’ve been selected to join our upcoming
      cohort.
    </p>
    <p>
      <a href="{{BASE_URL}}/api/log/click/{{id}}" style="color: blue"
        >Click here to complete your enrollment</a
      >
    </p>
    <p>We look forward to seeing you inside!</p>

    <img
      src="{{BASE_URL}}/api/log/open/{{id}}"
      width="1"
      height="1"
      alt=""
      style="display: none"
    />
  </body>
</html>
